::-moz-selection { 
  color: white;
  background: #4dae50;
}

::selection {
  color: white;
  background: #4dae50;
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: white;
  transition: 1s all;
}

.logo{
  letter-spacing: 2px;
  font-size: 50px;
  padding-top:20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}



hr {
  width: 500px;
}

#title {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 2px;
}

#board {
  width: 1230px;
  height: 0px;
  margin: 0 auto;
  margin-top: 3px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-top:13px;
}

#label {
  width: 1230px;
  height: 15px;
  margin: 0 auto;
  margin-top: 3px;
  display: flex;
  flex-wrap: wrap;
  padding-left:0px;
}

#message{
  opacity: 1;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}

#playerImage{
  filter: brightness(0%);
  height: 0px;
  width:0px;
  align-items: center;
  justify-content: center;
}

#results{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index:100;
}

#container{
  position: relative;
}

#playAgain{
  margin-top: 15px;
  margin-bottom: 10px;
  border: none;
  background-color: black;
  color: #4dae50;
  font-size: 32px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  padding:20px;
}

.label-tile {
  /* Box */
  border: transparent;

  width: 150px;
  height: 15px;
  margin-left: 1px;
  margin-right: 1px;

  /* Text */
  color: #3D3D3D;
  font-size: 20px;
  padding-bottom:10px;
  font-weight: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-tile-first {
  /* Box */
  border: transparent;

  width: 265px;
  height: 15px;
  margin-left: 1px;
  margin-right: 1px;

  /* Text */
  color: #3D3D3D;
  font-size: 20px;
  padding-bottom:10px;
  font-weight: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile {
  /* Box */
  border: 1px solid #3D3D3D;
  border-right:0px;

  width: 150px;
  height: 100px;

  /* Text */
  color: #3D3D3D;
  font-size: 20px;
  font-weight: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-tile {
  /* Box */
  border: 1px solid #3D3D3D;
  border-right: 1px solid #3D3D3D;
  width: 150px;
  height: 100px;

  /* Text */
  color: #3D3D3D;
  font-size: 20px;
  font-weight: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.name-tile {
  /* Box */
  border: 1px solid #3D3D3D;
  border-right:0px;
  width: 250px;
  height: 100px;

  /* Text */
  color: #3D3D3D;
  font-size: 20px;
  font-weight: none;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.correct {
  background-color: #4dae50;
  color: white;
  animation: correct 10s infinite;
}

@keyframes correct{
  0%{
    background-color: #4dae50;
  }
  50%{
    background-color: #4dae79;
  }
  100%{
    background-color: #4dae50;
  }
}

.present {
  background-color: #c69f21;
  color: white;
  border-color: white;
  border-radius: 10px;
}


.absent {
  background-color: #787c7e;
  color: white;
  border-color: white;
  border-radius: 10px;
}

.incorrect {
  background-color: #c69f21;
  color: white;
  border-color: white;
  border-radius: 10px;
  animation:wrong 10s infinite;
}

@keyframes wrong {
  0%{
    background-color: #c69f21;
  }
  50%{
    background-color: #810000;
  }
  100%{
    background-color: #c69f21;

  }
}

.guess{
  font-family: 'Poppins', sans-serif;
  width: 500px;
  height: 70px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #3D3D3D;
  transition: 1s all;
  color:#3D3D3D;

}

.guess:hover{
  background:#ffffff;
  animation: guess 1s linear;
  transition:1s all;
}

.guess::placeholder{
  font-size: 20px;
  text-align: center;
  transition: 1s all;
  color:#3D3D3D;
}


@keyframes guess {
  0%{
    background:#ffffff;
  }
  35%{
    background:#4dae50;
  }
  65%{
    background:#c69f21;
  }
  100%{
    background:#ffffff;
  }
}

@keyframes guess-dark {
  0%{
    background:#000;
  }
  35%{
    background:#4dae50;
  }
  65%{
    background:#c69f21;
  }
  100%{
    background:#000;
  }
}


.locked{
  cursor: not-allowed;
  font-size: 26px;
  text-align: center;
  color:rgba(0, 0, 0, 0.7);
  background-color:rgba(0, 0, 0, 0.05);
  animation: won 1s infinite;
  pointer-events: none;
  padding-left:0px;
}

.hidden{
  display: none;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.close-modal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 2.5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.btn{
  margin-top: 15px;
  margin-bottom: 10px;
  border: none;
  background-color: white;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.option{
  width: 500px;
  height: 70px;
  font-size: 24px;
  text-align: left;
  border-radius: 0px;
  border: none;
  cursor: pointer;
}

.selected{
  background-color: rgb(200,200,200);
}
@keyframes won{
  0%{
    background-color: #4dae50;
  }
  50%{
    background-color: #c69f21;
  }
  100%{
    background-color: #4dae50;
  }
}

div{
  text-align: center;
}

li{
  list-style-type: none;
}


.legal{
  font-size: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Dark{
  background-color: #101010;
  color:#ffffff;
}

.Dark .label-tile-first{
  color:#A6A7A6;
  border-color:#A6A7A6;
}
.Dark .label-tile{
  color:#A6A7A6;
  border-color:#A6A7A6;
}

.Dark .name-tile{
  color:#A6A7A6;
  border-color:#A6A7A6;
  background-color: #000000;
}

.Dark .tile{
  color:#A6A7A6;
  border-color:#A6A7A6;
  background-color: #000000;
}

.Dark .end-tile{
  color:#A6A7A6;
  border-color:#A6A7A6;
  background-color: #000000;
}

.Dark .guess::placeholder{
  color:#A6A7A6;
}

.Dark .guess{
  background-color: #000000;
  color:#A6A7A6;
  border-color: #A6A7A6;
}

.Dark .guess:hover{
  background:#000;
  animation: guess-dark 1s linear;
  transition:1s all;
}

.Dark .correct {
  background-color: #4dae50;
  color: white;
  animation: correct 10s infinite;
}

.Light{
  background-color: #ffffff;
  color:#000000;
}

.fa-paint-roller{
  position:absolute;
  top:10;
  left:10;
  font-size:20px;
  cursor:pointer;
  transition:0.5s all linear;
}

.fa-info{
  font-size:20px;
  cursor:pointer;
  padding-left:20px;
}

.fa-paint-roller:hover{
  position:absolute;
  top:10;
  transform:scale(1.1);
  left:10;
  cursor:pointer;
  transition:1s all linear;
}

@media screen and (orientation:portrait) {
  .mainexperience{
    display:none;
  }
  .turnyourphone{
    display:block;
  }
}
@media screen and (orientation:landscape) {
  .mainexperience{
    display:block;
  }
  .turnyourphone{
    display:none;
  }
}
.explainer{
  margin-top:30px;
  border-radius: 20px;
  z-index:1;
}
.infosquaresmall{
  width:60%;
  margin:13px;
  border:1px solid black;
border-radius: 10px;
    padding:30px;
}

.tilebutton{
  background:#4dae50;
 color:white;
 cursor:pointer;
 padding-left:20px;
 padding-right:20px;
 height:50px;
 width:60%;
 border:none;
 border-radius: 10px;
}
